* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.00em;

}
.counter {
    width: 19px;
    height: 44px;
    margin-top: 126px;
    margin-left: 709px;
    font-size: 32px;
}
button {
    margin-top: 36px;
    margin-left: 470px;
    width: 500px;
    height: 100px;
    display: block;
    border-radius: 20px;
    border: none;
    background-color: #DB7093; 
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
}

/* .counter_addButton {
    margin: 28px 144px;
    width: 210px;
    height: 44px;
    font-size: 32px;
    text-align: center;
} */